@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background-color:#c295d8;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
h1.fourth { 
  font-weight: 800;
  font-size: 85px;
}

h1.fourth span {
	border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
  color:#900048;
}

h1.fourth:hover span {
	border-bottom: 1px solid whitesmoke;
}

h1.fourth span:first-child {
	font-weight: 300;
}

#hp{
 min-height: 100vh;
 background-color: #2f1b41;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#hpi{
  color: #f1bbd5;
  text-align: center;
  padding:20px;
}

#hpi p{
  font-size: 25px;
}


.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-10 {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.forms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
  box-shadow:0px 0px 41px -4px rgba(0,0,0,0.75);


}

.jb{
  margin-top:30px;
  background-color: #57385c;
  color: white;
  
}

.spi{display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

header {
  background: -webkit-gradient(linear, left top, right top, from(#240b36), to(#c295d8));
  background: -o-linear-gradient(left, #240b36, #561050);
  background: linear-gradient(to right, #240b36, #561050);
  padding: 5px 0;

}

.container {
/*   width: 70%; */
  margin: 0 auto;

}

.btn {
  padding: 14px 0;
  text-align: center;
  width: 110px;
}




#brand {
  margin: 0 20px;
}

#brand span{
 font: 30px "Abril Fatface", cursive;
}

#brand i {
  font-size: 2em;
  margin-right: 5px;
}

nav {
  color: #ecf0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: #ecf0f1;
  padding: 0 8px;
  text-decoration: none;
}
a:hover
{   
  text-decoration: none;
  color: white;
}
.sign-up {
  margin-right: 20px;
}

@media(max-width: 767px) {
  nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  nav .btn {
    display: none;
  }
}

@media(max-width: 600px) {
  #brand,
  nav li {
    margin-bottom: 5px;
  }
}



.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.bg {
  background-image: url("./Components/img/laptop.jpeg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 28px;
}

.link{
  margin-right: 20px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


