@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background: #9900ff!important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.forms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
}

.jb{
  margin-top:30px;
}

header {
  background: #c31432;
  background: -webkit-gradient(linear, left top, right top, from(#240b36), to(#c31432));
  background: -o-linear-gradient(left, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);
  padding: 10px 0;
}

.container {
/*   width: 70%; */
  margin: 0 auto;
}

.btn {
  padding: 8px 0;
  text-align: center;
  width: 90px;
}

.btn:hover {
  background: none;
  border:2px solid #4D0D35;
  color: #4D0D35;
}

.sign-up a:hover {
  color: #270B36;
}

#brand {
  margin: 0 20px;
}

#brand span{
 font: 30px "Abril Fatface", cursive;
}

#brand i {
  font-size: 2em;
  margin-right: 5px;
}

nav {
  color: #ecf0f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: #ecf0f1;
  padding: 0 8px;
  text-decoration: none;
}

nav a:hover {
  color: #270B36
}
.sign-up {
  margin-right: 20px;
}

@media(max-width: 767px) {
  nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  nav .btn {
    display: none;
  }
}

@media(max-width: 600px) {
  #brand,
  nav li {
    margin-bottom: 5px;
  }
}



.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.bg {
  background-image: url("./Components/img/laptop.jpeg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 28px;
}

.link{
  margin-right: 20px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


